* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background-position: center;
	background-size: 1000px auto;
	color: #333;
	font-family: banksia, sans-serif;
	font-size: 16px;
	padding: 10px;
}
header, section, footer, aside, nav, main, article, figure{
  display: block;
}
ul, ol, li {
	list-style: none;
}

a {
	text-shadow: none;
	color: #600;
}

.both::after,
.both::before {
	content: " ";
	display: block;
	clear: both;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.btn {
	border-radius: 100%;
	overflow: hidden;
	border: 0;
	height: 50px;
	width: 50px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	cursor: pointer;
	display: inline-block;
	line-height: 50px;
	text-align: center;
}
.btn:hover {
	background-color: #666;
	color: #fff;
}

.mask-circle {
	border-radius: 100%;
	overflow: hidden;
}

.fundo-branco {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 2px;
	padding: 20px;
}

.box-shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
