@font-face {
    font-family: 'banksia';
    src: url('../fontes/banksia.eot');
    src: url('../fontes/banksia.eot?#iefix') format('embedded-opentype'),
         url('../fontes/banksia.woff') format('woff'),
         url('../fontes/banksia.ttf') format('truetype'),
         url('../fontes/banksia.svg#banksia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'banksia_bold';
    src: url('../fontes/banksia_bold.eot');
    src: url('../fontes/banksia_bold.eot?#iefix') format('embedded-opentype'),
         url('../fontes/banksia_bold.woff') format('woff'),
         url('../fontes/banksia_bold.ttf') format('truetype'),
         url('../fontes/banksia_bold.svg#banksia_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
