@import "fonte";
@import "base";
@import "efects";

.bg-day {
	background-image: url(imagens/adwaita-day.jpg);
}

h1, h2 {
	text-shadow: 0 1px 0 #fff;
}
h1 {
	color: #1A7278;
}
h2 {
	margin-bottom: 10px;
	color: #2C5D62;
}

#conteudo-principal {
	margin-bottom: 10px;
	width: 100%;
	max-width: 560px;
	position: relative;
}

#eu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 15px;
	h1 {
		font-size: 3em;
		padding-left: 20px;
	}
	.minha-foto {
		width: 120px;
		min-width: 100px;
		img {
			width: 100%;
			height: auto;
		}
	}
	@media (max-width: 550px) {
		margin-bottom: 30px;
	}
	@media (max-width: 339px) {
		margin-bottom: 15px;
		display: block;
		.minha-foto {
			width: 100%;
			text-align: center;
			display: block;
		}
		h1 {
			font-size: 2.4em;
			padding: 15px 0 25px;
			text-align: center;
		}
	}
}

#links-menu {
	padding-bottom: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	a {
		color: #fff;
		margin: 10px;
	}
	p {
		position: absolute;
		width: 100%;
		bottom: 12px;
		left: 0;
	}
}

.btn-codepen,
.btn-codepen:hover {
	background-color: #000;
}
.btn-linkedin,
.btn-linkedin:hover {
	background-color: #1A85BC;
}
.btn-instagram,
.btn-instagram:hover {
	background-color: #71452C;
}
.btn-facebook,
.btn-facebook:hover {
	background-color: #4862A3;
}
.btn-twitter,
.btn-twitter:hover {
	background-color: #55ACEE;
}
.btn-slides,
.btn-slides:hover {
	background-color: #F32E53;
}
.btn-github,
.btn-github:hover {
	background-color: #333333;
}


#links-uteis {
	@extend #conteudo-principal;
	margin-top: 25px;
}

.links-uteis {
	a {
		font-size: 14px;
		display: block;
		margin-top: 20px;
		text-decoration: none;
		&:last-of-type {
			margin-bottom: 0;
		}
		strong {
			text-decoration: underline;
			display: block;
			margin-bottom: 5px;
			font-size: 1.2em;
		}
		span {
			color: #666;
			line-height: 1.3;
		}
	}
}
